// VARIABLES

$basefont: Helvetica, Arial, sans-serif;

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 40%
}

.spaces {
  display: flex;
  flex-direction: row;
  .space {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    img {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}

.sunflower img{
  height: 100px;
}
